- name: Create Node Exporter container
  containers.podman.podman_container:
    name: node_exporter
    image: quay.io/prometheus/node-exporter:latest
    state: started
    restart_policy: always
    ports:
      - "9100:9100"
    command:
      - "--path.rootfs=/host"
    volume:
      - "/:/host:ro,rslave"

