groups:
  - name: node_alerts
    rules:
      - alert: HighCPUUsage
        expr: avg(rate(node_cpu_seconds_total{mode="idle"}[2m])) < 0.2
        for: 1m
        labels:
          severity: warning
        annotations:
          description: "High CPU usage detected"

